html, body {
  font-family: 'Open Sans', sans-serif;
  color: #423D3F; }

h1, h2, h3, h4, h5, h6 {
  color: #03565d; }

h1 {
  font-size: 71px;
  font-weight: 700;
  letter-spacing: -3px; }

h2 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -1.5px; }

p {
  line-height: 1.6;
  margin: 20px 0; }

a {
  text-decoration: underline;
  color: #9fedd7; }
  a:hover, a:active, a:focus {
    color: #fce181; }

.dark-content {
  color: #fff; }
  .dark-content h1,
  .dark-content h2,
  .dark-content h3,
  .dark-content h4,
  .dark-content h5,
  .dark-content h6,
  .dark-content p {
    color: #fff; }
  .dark-content .img-circle {
    border-radius: 2px; }

.bg-primary {
  background: -webkit-linear-gradient(339.3deg, #099a97 6.3%, #15cda8 90.6%);
  background: -o-linear-gradient(339.3deg, #099a97 6.3%, #15cda8 90.6%);
  background: linear-gradient(110.7deg, #099a97 6.3%, #15cda8 90.6%); }

.hero-unit {
  background-size: cover;
  background-position: center left;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("/img/cover.jpg");
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/cover.jpg");
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/cover.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/cover.jpg");
  min-height: 100vh;
  padding: 50px, 0; }
  .hero-unit .hero-unit-subheading {
    color: #9fedd7;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600px;
    letter-spacing: 2.4px;
    margin-bottom: 45px; }

@media only screen and (max-width: 576px) {
  .hero-unit {
    text-align: center;
    background: black; }
    .hero-unit .hero-unit-heading {
      font-size: 40px; }
    .hero-unit .hero-unit-subheading {
      font-size: 14px; } }

.btn {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  border: 0;
  padding: 15px 23px; }
  .btn.btn-primary {
    background: #026670;
    border-radius: 4px; }

.content-section {
  padding: 80px 0; }
  .content-section.content-section-centered {
    text-align: center; }
  .content-section.dark-content {
    background: #026670; }
  .content-section.content-section-side-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 0; }
    .content-section.content-section-side-image .content-section-side-image-content {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      padding: 50px 0; }
    .content-section.content-section-side-image .content-section-side-image-container {
      width: 250px;
      min-height: 500px;
      background-size: cover;
      background-position: center; }

@media only screen and (max-width: 576px) {
  .content-section.content-section-side-image {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .content-section.content-section-side-image .content-section-side-image-container {
      min-height: 80px;
      width: 100%;
      background-size: cover;
      background-position: center; }
    .content-section.content-section-side-image .content-section-side-image-heading {
      text-align: center; } }

.portfolio-cards {
  margin-top: 60px; }
  .portfolio-cards .portfolio-card {
    background: #fff;
    -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 30px; }
    .portfolio-cards .portfolio-card .portfolio-card-image {
      background-size: cover;
      background-position: center;
      height: 200px; }
    .portfolio-cards .portfolio-card .portfolio-card-information {
      padding: 25px 5px; }
      .portfolio-cards .portfolio-card .portfolio-card-information .portfolio-card-title {
        display: block;
        font-size: 20px;
        letter-spacing: -1px;
        margin-bottom: 5px;
        font-weight: 600; }
      .portfolio-cards .portfolio-card .portfolio-card-information .portfolio-card-credits {
        display: block;
        color: #a7a7a7;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 600; }

.contact-form {
  margin-top: 30px; }
  .contact-form .contact-form-input {
    display: block;
    width: 100%;
    border: 0;
    border-radius: 4px;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    padding: 18px 22px;
    font-size: 18px; }
    .contact-form .contact-form-input::-webkit-input-placeholder {
      color: #9e9e9e; }
    .contact-form .contact-form-input:-ms-input-placeholder {
      color: #9e9e9e; }
    .contact-form .contact-form-input::-ms-input-placeholder {
      color: #9e9e9e; }
    .contact-form .contact-form-input::placeholder {
      color: #9e9e9e; }
  .contact-form textarea.contact-form-input {
    min-height: 160px; }
  .contact-form .contact-form-checkbox-input {
    display: none; }
    .contact-form .contact-form-checkbox-input:checked + .contact-form-checkbox-label:after {
      opacity: 1;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
  .contact-form .contact-form-checkbox-label {
    position: relative;
    color: #adabab;
    text-align: left;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
    line-height: 16px;
    padding-left: 50px;
    margin-bottom: 20px;
    margin-top: 5px; }
    .contact-form .contact-form-checkbox-label:before {
      position: absolute;
      content: "";
      left: 0;
      top: -2px;
      width: 35px;
      height: 35px;
      border-radius: 4px;
      -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.15);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.15); }
    .contact-form .contact-form-checkbox-label:after {
      position: absolute;
      font-family: "Font Awesome 5 Free";
      content: "\f00c";
      left: 11px;
      top: 9px;
      color: #92e6ce;
      opacity: 0;
      -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
      transform: scale(0.5);
      -webkit-transition: opacity .3s, -webkit-transform .3s;
      transition: opacity .3s, -webkit-transform .3s;
      -o-transition: opacity .3s, transform .3s;
      transition: opacity .3s, transform .3s;
      transition: opacity .3s, transform .3s, -webkit-transform .3s; }

.footer {
  background: #eef1f2;
  color: rgba(0, 0, 0, 0.25);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  padding: 10px 0; }

.skillsets .skillset {
  margin-top: 20px;
  margin-bottom: 10px; }
  .skillsets .skillset .skillset-heading {
    text-transform: uppercase;
    color: #797979;
    font-size: 16px;
    letter-spacing: 1.6px;
    font-weight: 700;
    margin-bottom: 5px; }
