html, body {
  font-family: 'Open Sans', sans-serif;
  color: #423D3F; }

h1, h2, h3, h4, h5, h6 {
  color: #0B3757; }

h1 {
  font-size: 74px;
  font-weight: 700;
  letter-spacing: -3px; }

h2 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -1.5px; }

p {
  line-height: 1.6;
  margin: 20px 0; }

.dark-content {
  color: #9ACFF6; }
  .dark-content h1,
  .dark-content h2,
  .dark-content h3,
  .dark-content h4,
  .dark-content h5,
  .dark-content h6,
  .dark-content p {
    color: #9ACFF6; }

.hero-unit {
  background: url(/img/cover.jpg);
  background-size: cover;
  background-position: top right;
  min-height: 100vh;
  padding: 50px, 0; }
  .hero-unit .hero-unit-subheading {
    color: #0ca549;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600px;
    letter-spacing: 2.4px;
    margin-bottom: 45px; }

@media only screen and (max-width: 576px) {
  .hero-unit {
    text-align: center;
    background: black; }
    .hero-unit .hero-unit-heading {
      font-size: 40px; }
    .hero-unit .hero-unit-subheading {
      font-size: 14px; } }

.btn {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  border: 0;
  padding: 15px 23px; }
  .btn.btn-primary {
    background: -webkit-linear-gradient(344.37deg, #EA2626 -21.04%, #0029FF 147.44%);
    background: -o-linear-gradient(344.37deg, #EA2626 -21.04%, #0029FF 147.44%);
    background: linear-gradient(105.63deg, #EA2626 -21.04%, #0029FF 147.44%);
    border-radius: 4px; }

.content-section {
  padding: 80px 0; }
  .content-section.content-section-centered {
    text-align: center; }

.portfolio-cards {
  margin-top: 60px; }
  .portfolio-cards .portfolio-card {
    background: #fff;
    -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 30px; }
    .portfolio-cards .portfolio-card .portfolio-card-image {
      height: 200px;
      background-size: cover;
      background-position: center; }
    .portfolio-cards .portfolio-card .portfolio-card-information {
      padding: 25px 5px; }
      .portfolio-cards .portfolio-card .portfolio-card-information .portfolio-card-title {
        display: block;
        font-size: 20px;
        letter-spacing: -1px;
        margin-bottom: 5px;
        font-weight: 600; }
      .portfolio-cards .portfolio-card .portfolio-card-information .portfolio-card-credits {
        display: block;
        color: #a7a7a7;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 600; }
