.btn {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);    
    border: 0;
    padding: 15px 23px;
  
    &.btn-primary {
        background: #026670; 
        border-radius: 4px;
        
    }
  }
  