.content-section {
  padding: 80px 0;

  &.content-section-centered {
    text-align: center;
  }

  &.dark-content {
    background: #026670;
  }

  &.content-section-side-image {
    display: flex;
    flex-direction: row;
    padding: 0;
    .content-section-side-image-content {
      flex-grow: 1;
      padding: 50px 0;
    }
    .content-section-side-image-container {
      width: 250px;
      min-height: 500px;
      background-size: cover;
      background-position: center;
    }
  }
}


@media only screen and (max-width: 576px) {
    .content-section {
        &.content-section-side-image {
             flex-direction: column;
             .content-section-side-image-container {
                 min-height: 80px;
                 width: 100%;
                 background-size: cover;
                 background-position: center;
             }
             .content-section-side-image-heading {
                 text-align: center;
             }
        }
    }

}