.dark-content {
  color: #fff;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: #fff;
  }

  .img-circle {
    border-radius: 2px;
  }
}

.bg-primary {
  background: linear-gradient( 110.7deg,  rgba(9,154,151,1) 6.3%, rgba(21,205,168,1) 90.6% );
}
